# ==========================
# Python
# ==========================

# Entorno virtual
backend/.venv/
backend/venv/
.venv/
venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Variables de entorno
# ==========================

.env
*.env

# ==========================
# Base de datos
# ==========================

*.sqlite
*.sqlite3
*.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Pytest
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# JetBrains (PyCharm)
# ==========================

.idea/

# ==========================
# Sistema Operativo
# ==========================

.DS_Store
Thumbs.db